<html>
  <head>
    <title>
        Rapha Nexo Challenge
    </title>
  </head>
  <body>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script type='text/javascript' src='/static/login.js'></script>
        <!-- Page Content goes here -->
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col s4"></div>
        
        <div class="col s4">

          <h2>Rapha Nexo Challenge</h2>
          <div class="row">
              <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
              </form>
            </div>
                  
            <button class="btn waves-effect waves-light" id="login">Login</button>        
            <button class="btn waves-effect waves-light" id="signup">Cadastrar-se</button>        
        </div>
      </div>
        <div class="col s4"></div>
  </body>
</html>
